// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.h-5{
    height: 5%!important;
}
.h-10{
    height: 10%!important;
}
.h-15{
    height: 15%!important;
}
.h-20{
    height: 20%!important;
}
.h-25{
    height: 25%!important;
}
.h-30{
    height: 30%!important;
}
.h-35{
    height: 35%!important;
}
.h-40{
    height: 40%!important;
}
.h-45{
    height: 45%!important;
}
.h-50{
    height: 50%!important;
}
.h-55{
    height: 55%!important;
}
.h-60{
    height: 60%!important;
}
.h-65{
    height: 65%!important;
}
.h-70{
    height: 70%!important;
}
.h-75{
    height: 75%!important;
}
.h-80{
    height: 80%!important;
}
.h-85{
    height: 85%!important;
}
.h-90{
    height: 90%!important;
}
.h-95{
    height: 95%!important;
}
.nopadding{
    padding:0!important;
}
.nomargin{
    margin:0!important;
}
.noBorder{
    border:none!important;
}
.buttonDimensions{
    width: 55px !important;
    height: 40px !important;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.fixed-bottom {
    position: fixed !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 0 !important;
}
.stickyBottom{
    position: fixed !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 0 !important;
}
